* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff5fa;
    color: #4d2940;
}

/* Navigation */

header {
    background-color: #d95d99;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2 {
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #ffd6e8;
}

/* Hero */

.hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;

    background: linear-gradient(
        135deg,
        #ffd6e8,
        #fff5fa
    );
}

.hero-text {
    max-width: 700px;
}

.hero-text p:first-child {
    color: #c34d87;
    font-size: 22px;
}

.hero h1 {
    font-size: 60px;
    color: #b43e78;
    margin: 10px 0;
}

.hero h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero p {
    line-height: 1.7;
}

/* Button */

.button {
    display: inline-block;
    margin-top: 25px;
    padding: 13px 25px;
    background-color: #d95d99;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover {
    background-color: #ad3d74;
}

/* Sections */

section {
    padding: 80px 20px;
    text-align: center;
}

section h2 {
    color: #b43e78;
    font-size: 35px;
    margin-bottom: 30px;
}

/* About */

.about-box {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.about-box p {
    line-height: 1.8;
}

/* Cards */

.cards {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 280px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #d04f8c;
    margin-bottom: 15px;
}

.card p {
    line-height: 1.6;
}

/* Contact */

#contact {
    background-color: #ffe1ed;
}

/* Footer */

footer {
    background-color: #d95d99;
    color: white;
    text-align: center;
    padding: 25px;
}

/* Mobile */

@media (max-width: 700px) {

    nav {
        flex-direction: column;
        gap: 15px;
    }

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero h3 {
        font-size: 20px;
    }
}